.App {
  text-align: center;
  background-image: url(./assets/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.Container {
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  flex: 1;
  padding-bottom: 5vh;
}



